*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: 28px;
}
body{
    background-color: #000000;
    color: #ffffff;
}
.brd{
    border:1px solid white;
}
nav{
  
    background-color: #000000;
    display: flex;
    padding: 20px;
    margin: auto;
    width: 99vw;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top: 0;
}
.logo{
    width: 220px;
}
.feat span{
    margin:0 30px;
}
button{
font-size: 30px;
}
nav button{
    padding: 6px 20px;
    border-radius: 30px;   
}
.sign{
    background-color: #000000;
    color: #ffffff;
    outline:.1px solid grey;
    margin-right: 10px;
}
.hero{
    padding:20px 50px;  
}
.frstsec{
    height: 1000px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.sec1{
    font-size: 50px;
    line-height: 1.3;
    
 
}
.sec2{
    min-width:2400px;
    border-radius:10px;
}
.curBtn{
    padding:20px 40px;
    max-width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 40px;
    margin-top: 50px;
}
.trust{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.trust div{
    text-align: center;
    font-size: 30px;
}
.card{
    height: 180px;
    width: 285px;
    border-radius: 5px;
    background-color: #1b1913;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.feature{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 200px;
    align-items:center;

}
.f1{
    display: flex;
   
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #1b1913;
    border-radius: 10px;
    width: 90vw;

}
.f2{
    flex-direction: row-reverse;
}

.fDesc p{
    margin: 10px;
    font-size: 40px;
}
.review > p {
    text-align: center;
    font-size: 70px;
    margin: 100px;
    margin-top: 200px;
}
.grid{
    display: grid;
    width: 95vw;
    margin: auto;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}
.card2{
    background-color: #1b1913;
    line-height: 1.5;
    height: 500px;
    width: 800px;
    border-radius: 10px;
    padding:30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card2 p{
    font-size: 30px;
}
.intro{
    display: flex;
    gap: 20px;
}
.story > p , .changelog > p{
    font-size: 55px;
    margin-bottom: 50px;
}
.story , .changelog{
    margin: 40px;
    margin-top: 400px;
}
.flex{
    display: flex;
    align-items: center;
    width: 95vw;
    margin: auto;
    gap: 20px;
    justify-content: space-evenly;

}
.card3{
    padding: 40px;
    border-radius: 10px;
    background-color: #1b1913;
    line-height: 1.5;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card3 p , .card4 p{
    font-size: 30px;
}
.card3 img{
    margin-top: 40px;
    width:100%;
    border-radius: 10px;
}
.grid2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.card4{
    background-color: #1b1913;
    border-radius: 10px;
    height: 250px;
    padding: 40px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.team{
    margin-top: 300px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.cta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 300px 10px;
}
.cta p{
    font-size: 150px;
}
footer{
    background-color: #1b1913;
    height: 800px;
}
.card5{
    margin: 150px 10px;
    display: flex;
    flex-direction: column;
  
    line-height: 2;
    align-items: start;
    
}

.grid5{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.last{
    display: flex;
    gap: 40px;
    color: gray;
    align-items: center;
    margin:  20px;
}
.last p{
    font-size: 30px;
}