*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}
body{
    background-color: #000000;
    color: #ffffff;
    
}
.brd{
    border:1px solid white;
}
nav{
  
    background-color: #000000;
    display: flex;
    padding: 5px;
    margin: auto;
    width: 99vw;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top: 0;
}
.logo{
    width: 110px;
}
.feat span{
    margin:0 15px;
}
button{
font-size: 15px;
border: none;
}
nav button{
    padding: 5px 10px;
    border-radius: 15px;   
}
.sign{
    background-color: #000000;
    color: #ffffff;
   outline: .1px solid gray;
    margin-right: 5px;
}
.hero{
    padding:5px 25px;  
}
.frstsec{
    height: 500px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.sec1{
    font-size: 25px;
    line-height: 1.3;
    
 
}
.sec2{
    width:1200px;
    border-radius:5px;
}
.curBtn{
    padding:10px 20px;
    max-width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-top: 25px;
}
.trust{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.trust div{
    text-align: center;
    font-size: 15px;
}
.card{
    height: 90px;
    width: 140px;
    border-radius: 5px;
    background-color: #1b1913;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img{
    width: 62px;
}
.container{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.feature{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items:center;

}
.f1{
    display: flex;
   
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: #1b1913;
    border-radius: 5px;
    width: 93vw;

}
.f2{
    flex-direction: row-reverse;
}

.fDesc p{
    margin: 5px;
    font-size: 24px;
}
.review > p {
    text-align: center;
    font-size: 35px;
    margin:150px 25px;
   margin-bottom: 50px;
}
.grid{
   
    display: grid;
    width: 95vw;
    margin: auto;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}
.card2{
    background-color: #1b1913;
    line-height: 1.5;
    height: 250px;
    width: 400px;
    border-radius: 5px;
    padding:15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro{
    display: flex;
    gap: 10px;
}
.intro img{
    width: 40px;
}
.story > p , .changelog > p{
    font-size: 26px;
    margin-bottom: 25px;
}
.story , .changelog{
    margin: 20px;
    margin-top: 100px;
}
.flex{
    display: flex;
    align-items: center;
    width: 95vw;
    margin: auto;
    gap: 10px;
    justify-content: space-evenly;

}
.card3{
    padding: 20px;
    border-radius: 5px;
    background-color: #1b1913;
    line-height: 1.5;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card3 img{
    margin-top: 20px;
    width:100%;
    border-radius: 5px;
}
.grid2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.card4{
    background-color: #1b1913;
    border-radius: 5px;
    height: 125px;
    padding: 20px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.team{
    margin-top: 150px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.cta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px 5px;
}
.cta p{
    font-size: 70px;
}
footer{
    background-color: #1b1913;
    height: 520px;
}
.card5{
    margin: 100px 5px;
    display: flex;
    flex-direction: column;
  
    line-height: 2;
    align-items: start;
    
}

.grid5{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.last{
    display: flex;
    gap: 20px;
    color: gray;
    align-items: center;
    margin:  20px;
}